extends ../shared/layout
block content
  include create
  include select_pointer
  div(id="modalConfirmDelete" class="modal")
    div(class="modal-content")
      .row
        .col.s12.m12.center-align
          h3 ¿Seguro que desea borrar el tema?
        .row.center-align
          .col.s12.m12.offset-by-four
            h5 Numero: !{themeNumber}
          .col.s12.m12.offset-by-four
            h5 Nombre: !{themeName}
        .col.s12.m12.center-align
          a.red.lighten-2(class="waves-effect waves-light btn  " href="/theme/delete/#{subjectId}/#{themeId}") Borrar Tema

  .row
    div(class="col s6 m4 l2")
      a(class="waves-effect waves-light btn modal-trigger " href="#modalNewContent ") Agregar Contenido
    div(class="col s6 m4 l4")
      a(class="waves-effect waves-light btn modal-trigger " href="#modalSelectPointer ") Seleccionar un Puntero
    div(class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;")
      a(class="btn-floating btn-large red modal-trigger" href="#modalNewContent")
        i(class="large material-icons") library_add
  .row
    each content in contentList
      div(class="col s12 m6 l3")
        div(class="card small")
          .card-image
            img(class="img-responsive" src=content.contentData.content)
            span(class="card-title") !{content.contentData.name}
          .card-content
            p !{content.contentData.description}
          .card-action
            a(href="/content/edit?contentId="+content.contentId+"&subjectId="+subjectId)
              i(class="fa fa-pencil-square-o small")
            a(href=content.contentData.content target="_blank")
              i(class="material-icons") open_in_new
            a(href="/content/delete?contentId="+content.contentId+"&subjectId="+subjectId+"&themeId="+themeId)
              i(class="material-icons") delete
            if content.contentId == selectedPointer
              i.blue-text.material-icons stars
  .row
    .col.s12.m12
      a.red.lighten-2(class="waves-effect waves-light btn modal-trigger " href="#modalConfirmDelete") Borrar Tema


