extends ../shared/layout
block content
    div(class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;")
        a(class="btn-floating btn-large red modal-trigger" href="#modalNewTheme")
            i(class="large material-icons") playlist_add
    .row
        .section
            .col.s12.m12
                .collection.with-header
                    li.collection-header
                        h5 Temas
                    each element in themes
                        a.collection-item(href= '/subject/#{element.id}')
                            span.title!{element.number}
                            p !{element.name}
    include create
block script
    script.
        if("#{error}"){
            var $toastContent = $('<h6 style="color:#f44336">Error al subir los temas:<span style="color:white">#{error}</span></h6>' );
            Materialize.toast($toastContent, 10000);
        }
